name: ci

on:
  push:
    branches:
      - main
      - feat/*
    tags:
      - v*.*.*

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: checkout
        uses: actions/checkout@v6
        with:
          fetch-depth: 0

      - name: setup-go
        uses: actions/setup-go@v6
        with:
          go-version: '^1.26'
          check-latest: true

      - name: fmt-check
        run: make fmt-check

      - name: test
        run: make ci-cover

      - name: report-coverage
        uses: codecov/codecov-action@v5
        with:
          token: ${{secrets.CODECOV_TOKEN}}
          files: ./cover.out
