name: ci

on:
  push:
    branches:
      - main
      - feat/*
    tags:
      - v*.*.*

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: setup-go
        uses: actions/setup-go@v5
        with:
          go-version: '1.25.4'

      - name: test
        run: make ci-cover

      - name: report-coverage
        uses: codecov/codecov-action@v4
        with:
          token: ${{secrets.CODECOV_TOKEN}}
          file: ./cover.out
